@charset "utf-8";

$point-color-black : #222;
$point-color-blue : skyblue;
$txt_bold : 600;
$txt_strong : 500;

/* font */
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: url(../font/notosansKr/NotoSansKR-Thin.woff2) format('woff2'),
		 	 url(../font/notosansKr/NotoSansKR-Thin.woff) format('woff'),
		 	 url(../font/notosansKr/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: url(../font/notosansKr/NotoSansKR-Light.woff2) format('woff2'),
		 	 url(../font/notosansKr/NotoSansKR-Light.woff) format('woff'),
		 	 url(../font/notosansKr/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: url(../font/notosansKr/NotoSansKR-Regular.woff2) format('woff2'),
			 url(../font/notosansKr/NotoSansKR-Regular.woff) format('woff'),
			 url(../font/notosansKr/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: url(../font/notosansKr/NotoSansKR-Medium.woff2) format('woff2'),
		 	 url(../font/notosansKr/NotoSansKR-Medium.woff) format('woff'),
		 	 url(../font/notosansKr/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: url(../font/notosansKr/NotoSansKR-Bold.woff2) format('woff2'),
		 	 url(../font/notosansKr/NotoSansKR-Bold.woff) format('woff'),
		 	 url(../font/notosansKr/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url(../font/notosansKr/NotoSansKR-Black.woff2) format('woff2'),
		 	 url(../font/notosansKr/NotoSansKR-Black.woff) format('woff'),
		 	 url(../font/notosansKr/NotoSansKR-Black.otf) format('opentype');
}

html, body {
  font-family:'Noto Sans KR', sans-serif;
  letter-spacing:-1px;
  font-weight:400;
  margin:0;
  padding:0;
  line-height:1.6;
  color:$point-color-black;
  font-size:16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,ol,dl,dd {
  margin:0;
  padding:0;
  list-style:none;
}

li {
  list-style:none;
  padding:0;
}

img {
  border:none;
}

a {
  text-decoration:none;
  color:$point-color-black;
  :hover {
    text-decoration:none;
  }
}
